body {
  background-image: url("../../images/Data-entry-BG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* z-index: 111111; */
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    113deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 1, 28, 1) 18%,
    rgba(0, 255, 239, 1) 49%,
    rgba(0, 1, 28, 1) 84%
  ); */
}

/* .main-cover{
  height: 95vh;
} */

.glass {
  background: transparent;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba (0, 0, 0, 0.2);
  /* width: 50rem; */
}

.scrollable-div {
  /* height: 48rem;  */
  height: 80vh;
  overflow-y: auto;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-gap: 0.5rem; */
}

.checkbox-grid label {
  display: block;
}

.DOB {
  color: white;

}

.involvement {
  position: relative;
  top: -19px;
}



/* Input button css Code */

.inputBox {
  position: relative;
  width: auto;
  padding-bottom: 1rem;
}

.inputBox input,
.inputBox textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  /* background: #1d2b3a; */
  background: transparent;
  border-radius: 5px;
  outline: none;
  color: #fff;
  /* color: #1d2b3a; */
  font-size: 1em;
}

.inputBox label {
  position: absolute;
  left: 10px;
  top: 0px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  transition: 0.5bs;
}

/* .inputBox label:nth-child(1){
  color:#1d2b3a;
  background-color: #00dfc4;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em; 
  padding: 0 10px; 
  border-radius: 0.2em;
} */


/* .inputBox input:focus{
  /* color: #1d2b3a; */
/* } */

/* .inputBox input:valid ~ label, */
.inputBox textarea:focus~label,
.inputBox input:focus~label {
  color: #1d2b3a;
  background-color: #00dfc4;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  border-radius: 0.2em;
}


.floating-active input~label {
  color: #1d2b3a;
  background-color: #00dfc4;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  border-radius: 0.2em;
}


#DOB input {
  color-scheme: dark;
}

/* Only Mobile Code */
@media screen and (max-width: 820px) {
  .scrollable-div {
    width: 330px !important;
  }

  .flexible-row {
    display: block;
  }
}